<?xml version="1.0" encoding="utf-8"?>
<SysConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DBConnections>
    <ConnectionStrings>
    <ConnectionString Key="main" DBType="sqlserver" ConnString="server=.;database=Engineer;uid=sa" Password="bLu9PlpDzJ0FiEdXQNZZyA==" Description="主网站数据库">
        <DBBackupPath>D:\</DBBackupPath>
      </ConnectionString>
      <ConnectionString Key="master" DBType="sqlserver" ConnString="server=.\SQL2008;database=master;uid=" Password="RX9h+jtR0Sx5FF+R4KdHWQ==" Description="还原数据库的master数据库">
        <DBBackupPath>D:\</DBBackupPath>
      </ConnectionString>
    </ConnectionStrings>
  </DBConnections>
  <Tableprefix>mv_</Tableprefix>
  <VodPath>\</VodPath>
</SysConfigInfo>