<?xml version="1.0" encoding="utf-8" ?>
<ExportConfigs>

  <!--导出的一个Excel数据
			typename	= 导出的Excel数据的唯一类型
			templatefile	= 模板文件绝对路径，如果接口参数为空，则读取该配置属性
		-->
  <Excel typename="" templatefile="">

    <!--导出过程中可能涉及多个Worksheet的导处，每个Worksheet一个配置
			name	= 要导出的worksheet的名称
			title	= 报表名称, 暂时没用...
			row		= 此Worksheet从工作表的哪行开始
			col		= 此Worksheet从工作表的哪列开始
			id = 此配置项的唯一标识
      autosizecolumns = 需要进行列宽自适应的列, 单独列的自适应直接配该列的索引(0开始), 一组列可以用~格开, 例如想自适应0-3列和第5列, 可以配置(0~3,5)
		-->
    <Worksheet name="" title="" row="" col="" id="" autosizecolumns="">

      <!-- 不重复的区域
            id : 区域的唯一标识
            datatable : 数据表来源
            row : 相对上一个Area的开始行位移
            col : 相对worksheet的起始列位移
            rowspan : 由于是不重复的绑定, 所以要求输入此区域跨越的行数
      -->
      <StaticArea id="A1" datatable="" row="" col="" rowspan="">
        <!-- 不重复的绑定 
          id : 单元格唯一标识
          row : 相对于区域的行偏移
          col : 相对于区域的列偏移
          field : 从datatable中取第0行的列名为field的值, 存到excel中, 若field为空, 则
          valuesource  :  当field为空时, 值的来源方式-      Constant :  直接取Value的值 (默认)
                                                            Property :  来自属性(静态)
                                                            Method :    来自方法(静态)
				  value        :	如果单元格的值为空,填充的默认值- 若默认来源为     Constant            :  直接填写值(默认)
                                                                            Property(静态属性)  :  "Property,Class[,Assembly]", 例如:"Now,System.DateTime"
                                                                            Method(静态方法)    :  "Function,Class[,Assembly]", 例如:"NewGuid,System.Guid"
                                                                            Field(静态字段)    :  "Field,Class[,Assembly]", 例如:"Value,System.DBNull"
                                                                            注 : Assembly为程序集, 用于Assembly.Load()使用, 当加载后, 调用assembly.GetType(Class), 然后assembly.Invoke其方法Function或Property
          match        :  从field中获取的值, 需要进行对照转换. 例如: match="0:1,否:是" ,如果从单元格获取的值为"0", 则会往对应的dataCell 存放入否
          summaryflagfield：控制汇总项的字段
          FilterValue：过滤的字符，如果值与过滤值相同，则返回空。如果有多个过滤值，请用","隔开
        -->
        <Cell id="CE1" row="" col="" field="" value="" datatype="" valuesource="" match="" />
        <Cell id="CE2" row="" col="" field="" value="" datatype="" valuesource="" match="" />
        <Cell id="CE3" row="" col="" field="" value="" datatype="" valuesource="" match="" />
      </StaticArea>

      <!-- 重复的区域，填写mergecolumns属性可以列合并功能，但是效率低，如果需要使用合并功能，请参照Merged节点配置
            id : 区域的唯一标识
            datatable : 数据表来源
            row : 相对上一个Area的开始行位移
            col : 相对worksheet的起始列位移
            mergecolumns : 此重复区域的哪些列需要进行合并单元格操作(存放列的ID)，
            mergetop：要进行单元格合并的具体每列是否需要从区域的上一个单元格开始合并，不填，全部默认为false
      -->
      <RepeatArea id="A2" datatable="" row="" col="" mergecolumns="CO1,CO2"  mergetop="false,false">
        <!-- 重复的绑定 
          id : 单元格唯一标识
          offset : 列偏移量, 相对于区域
          field : 从datatable中取第0行的列名为field的值, 存到excel中, 若field为空, 则
          valuesource  :  当field为空时, 值的来源方式-      Constant :  直接取Value的值 (默认)
                                                            Property :  来自属性(静态)
                                                            Method :    来自方法(静态)
				  value        :	如果单元格的值为空,填充的默认值- 若默认来源为     Constant            :  直接填写值(默认)
                                                                            Property(静态属性)  :  "Property,Class[,Assembly]", 例如:"Now,System.DateTime"
                                                                            Method(静态方法)    :  "Function,Class[,Assembly]", 例如:"NewGuid,System.Guid"
                                                                            Field(静态字段)    :  "Field,Class[,Assembly]", 例如:"Value,System.DBNull"
                                                                            注 : Assembly为程序集, 用于Assembly.Load()使用, 当加载后, 调用assembly.GetType(Class), 然后assembly.Invoke其方法Function或Property
          match        :  从field中获取的值, 需要进行对照转换. 例如: match="0:1,否:是" ,如果从单元格获取的值为"0", 则会往对应的dataCell 存放入否
          summaryflagfield：控制汇总项的字段
          FilterValue：过滤的字符，如果值与过滤值相同，则返回空。如果有多个过滤值，请用","隔开
        -->
        <Column id="CO1" offset="" field="" value="" datatype="" valuesource="" match=""/>
        <Column id="CO2" offset="" field="" value="" datatype="" valuesource="" match=""/>
        <Column id="CO3" offset="" field="" value="" datatype="" valuesource="" match=""/>
        <Column id="CO4" offset="" field="" value="" datatype="" valuesource="" match=""/>
      </RepeatArea>

      <!--  公式
              target : 目标列或单元格 
              type : 公式类型 Column 对于列的公式, 需要rowsfield字段; Row 对于行的公式, 
              formula : 公式, 对应变量的位置将用operator相应的行列替换
              operator : 操作数, 对应公式中的位置
              rowsfield : 当Type为
      -->
      <Formula type="Cell" target="A1.CE1" formulatext="{0}+{1}" operation="A1.CE2,A1.CE3" />
      <Formula type="Column" target="A2.CO1" formulatext="{0}+{1}" operation="A2.CO1,A1.CE1" rowsfield="" />
      <Formula type="Row" target="A2.CO2" formulatext="{0}+({1}*{2})+{3}" operation="CO1,CO3,CO4,A1.CE1" />

      <!--  合并单元格
              type : 合并分类枚举，可选值{row|column|all}，row：行合并，column：列合并，all：行列一起合并
              AreaID：此Worksheet中的区域ID
              FromColumn : 开始列号，整数
              ToColumn : 结束列号，整数
              MergedTypePriority : 合并的优先选择枚举，可选值{row|column}，row：行优先（默认），column：列优先
              NeedValid： 是否验证其数据，可选值{false|true}，暂时没用
              IgnoreEmpty：是否忽略空串，可选值{false|true}
      -->
      <Merged type="column" AreaID="A2" FromColumn="0" ToColumn="2" IgnoreEmpty="false"/>
    </Worksheet>
  </Excel>

  <Excel typename="员工信息" templatefile="">
    <Worksheet name="员工信息" title="" row="1" col="0">
      <RepeatArea id="A2" datatable="HR_Employee" row="1" col="0">
        <!-- 重复的绑定 -->
        <Column id="CO1" offset="0" field="Name" value="" datatype="String" valuesource="" match=""/>
        <Column id="CO2" offset="1" field="LINE_CODE" value="" datatype="String" valuesource="" match=""/>
        <Column id="CO3" offset="2" field="LINE_SORT_NO" value="" datatype="Numeric" valuesource="" match=""/>
      </RepeatArea>

    </Worksheet>
  </Excel>

</ExportConfigs>