<?xml version="1.0" encoding="utf-8"?>
<FilesUploadInfos xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FilesUploadInfo Id="WorkFlowTemp" MaxFileSize="5000">
    <Path>~/upload/workflowtemp</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>xml|txt</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="ProductImages" MaxFileSize="5000">
    <Path>~/upload/imgs</Path>
    <ThumbnailPath>~/upload/thumbnail</ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|bmp</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="ProductDocs" MaxFileSize="10240">
    <Path>~/upload/doc</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|doc|xls|zip|rar</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="TempExcelFiles" MaxFileSize="102400">
    <Path>~/upload/tempfiles</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>xls|xlsx|csv|txt</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="DownloadDocs" MaxFileSize="10240">
    <Path>~/Download</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|doc|xls|zip|rar</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="CommonUpload" MaxFileSize="1024000">
    <Path>~/Download</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|doc|xls|zip|rar|flv|swf|rm|wmv|rmvb|mp4|mp3|docx|xlsx|ppt|pptx|rtf|txt|avi|vob|mov|tiff</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="VideoUpload" MaxFileSize="1024000">
    <Path>~/Download</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>flv|swf|rm|wmv|rmvb|mp4|avi|vob|mov|mkv</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="PictureUpload" MaxFileSize="1024000">
    <Path>~/upload/imgs</Path>
    <ThumbnailPath>~/upload/thumbnail</ThumbnailPath>
    <ThumbnailWidth>100</ThumbnailWidth>
    <ThumbnailHeight>75</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|bmp|tiff</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="FileUpload" MaxFileSize="1024000">
    <Path>~/Download</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|doc|xls|zip|rar|flv|swf|rm|wmv|rmvb|mp4|mp3|docx|xlsx|ppt|pptx|rtf|txt|avi|vob|mov|tiff</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="AudioUpload" MaxFileSize="1024000">
    <Path>~/Download</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>mp3|wma|mp2|wav</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="AllCoverImages" MaxFileSize="5000">
    <Path>~/upload/coverimg</Path>
    <ThumbnailPath>~/upload/thumbnail</ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|bmp</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="AvatorImages" MaxFileSize="5000">
    <Path>~/upload/avator</Path>
    <ThumbnailPath>~/upload/thumbnail</ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|bmp</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="FileUpload_5MB" MaxFileSize="5120">
    <Path>~/upload</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|doc|xls|zip|rar|flv|swf|rm|wmv|rmvb|mp4|mp3|docx|xlsx|ppt|pptx|rtf|txt|avi|vob|mov|tiff</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
  <FilesUploadInfo Id="FileUpload_LargeOrder" MaxFileSize="51200">
    <Path>~/upload</Path>
    <ThumbnailPath></ThumbnailPath>
    <ThumbnailWidth>80</ThumbnailWidth>
    <ThumbnailHeight>80</ThumbnailHeight>
    <ExtAllowed>jpg|png|jpeg|gif|pdf|tiff</ExtAllowed>
    <TempPath>~/upload/temp</TempPath>
    <MaxFilesCountInDir>500</MaxFilesCountInDir>
    <CurrBatchHead>batch</CurrBatchHead>
  </FilesUploadInfo>
</FilesUploadInfos>