<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="AttachSystemInfo" value="true"/>
  <targets async="true">
    <target name="ErrorLogFile" xsi:type="File"
              layout="${longdate} ${level} ${logger} ${message} ${newline} ${onexception:inner=${exception:innerFormat=ToString:maxInnerExceptionLevel=2:innerExceptionSeparator=#:format=ToString} ${newline}}"
              fileName="${basedir}/log/error/err.${shortdate}.txt"
              archiveFileName="${basedir}/log/archives/error/err.${shortdate}.{#}.txt"
              archiveEvery="Hour"
              archiveNumbering="Rolling"
              maxArchiveFiles="200"
              archiveAboveSize="30485760"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8" />
    <target name="InfoLogFile" xsi:type="File"
             layout="${longdate} ${level} ${logger} ${message} ${newline} ${onexception:inner=${exception:innerFormat=ToString:maxInnerExceptionLevel=2:innerExceptionSeparator=#:format=ToString} ${newline}}"
             fileName="${basedir}/log/info.${shortdate}.txt"
             archiveFileName="${basedir}/log/archives/log/info.${shortdate}.{#}.txt"
             archiveEvery="Hour"
             archiveNumbering="Rolling"
             maxArchiveFiles="200"
             archiveAboveSize="30485760"
             concurrentWrites="true"
             keepFileOpen="false"
             encoding="utf-8" />
    <target name="QuarztTaskLogFile" xsi:type="File"
            layout="${longdate} ${level} ${logger} ${message} ${newline} ${onexception:inner=${exception:innerFormat=ToString:maxInnerExceptionLevel=2:innerExceptionSeparator=#:format=ToString} ${newline}}"
            fileName="${basedir}/log/quartTask/quartTask.${shortdate}.txt"
            archiveFileName="${basedir}/log/archives/quartTask/quartTask.${shortdate}.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="200"
            archiveAboveSize="30485760"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <target name="WebUserOpLog" xsi:type="Database" >
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO [sys_OPLog](LoginName,UserName,UserIP, LogMessage, UpdateTime,LogOPName,Level, Logger) VALUES(@LoginName, @UserName,@UserIP,@LogMessage,getdate(), @LogOPName, @level, @logger)</commandText>

      <!-- parameters for the command -->
      <parameter name="@LoginName" layout="${event-context:item=LoginName}" />
      <parameter name="@UserName" layout="${event-context:item=UserName}" />
      <parameter name="@UserIP" layout="${event-context:item=UserIP}" />
      <parameter name="@LogMessage" layout="${message}" />
      <parameter name="@LogOPName" layout="${event-context:item=LogOPName}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />

      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>server=.\SQL2008;database=CloverWebFramework;integrated security=sspi</connectionString>

      <!-- commands to install database -->
      <install-command>
        <text>CREATE DATABASE MyLogs</text>
        <connectionString>server=.\SQL2008;database=CloverWebFramework;integrated security=sspi</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </install-command>

      <install-command>
        <text>
          CREATE TABLE [dbo].[sys_OPLog](
          [id] [int] IDENTITY(1,1) NOT NULL,
          [LoginName] [nvarchar](50) NULL,
          [UserName] [nvarchar](50) NULL,
          [UserIP] [nvarchar](20) NULL,
          [LogMessage] [ntext] NULL,
          [UpdateTime] [datetime] NULL,
          [LogOPName] [nvarchar](150) NULL,
          [Logger] [varchar](50) NULL,
          [Level] [varchar](50) NULL,
          CONSTRAINT [PK_sys_OPLog] PRIMARY KEY CLUSTERED
          (
          [id] ASC
          )WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
          ) ON [PRIMARY]
        </text>
      </install-command>

      <!-- commands to uninstall database -->
      <uninstall-command>
        <text>DROP DATABASE MyLogs</text>
        <connectionString>server=.\SQL2008;database=CloverWebFramework;integrated security=sspi</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </uninstall-command>
    </target>
    <target name="pc1" xsi:type="PerfCounter" categoryName="My Log" counterName="My Counter">
    </target>
    <target name="ConsoleTest" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"></target>
  </targets>

  <rules>
    <logger name="*" levels="Error" writeTo="ConsoleTest" />
    <logger name="*" levels="Error" writeTo="ErrorLogFile" />
    <logger name="*" levels="Fatal" writeTo="ErrorLogFile" />
    <logger name="*" minlevel="DEBUG" writeTo="InfoLogFile" />
    <logger name="*" minlevel="Info" writeTo="InfoLogFile" />
    <logger name="QuarztTask" minlevel="INFO" writeTo="QuarztTaskLogFile" />
    <logger name="ErrorLogger" minlevel="Trace" writeTo="ErrorLogFile" />
    <logger name="UserOPLogger" minlevel="Trace" writeTo="WebUserOpLog" />
  </rules>

</nlog>
