<?xml version="1.0" encoding="utf-8"?>
<PermissionConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PMConfigInfos>
    <PMConfigInfo Key="GPMSYSTEMCODE" Name="通用权限模块系统代码" Value="CPM" />
    <PMConfigInfo Key="EnableInheritPermission" Name="是否启用权限继承(对岗位及组织由上至下的架构不适用)" Value="False" />
    <PMConfigInfo Key="EnableDenyPermission" Name="是否启用拒绝权限" Value="True" />
    <PMConfigInfo Key="EnableGroupPermission" Name="是否启用组权限" Value="False" />
    <PMConfigInfo Key="EnableUserPermission" Name="是否启用用户权限" Value="False" />
    <PMConfigInfo Key="EnablePositionPermission" Name="是否启用岗位权限" Value="False" />
    <PMConfigInfo Key="EnableChangePosition" Name="是否允许切换组织岗位" Value="True" />
    <PMConfigInfo Key="PositionBaseOnUserGroup" Name="岗位的选择是否基于用户定义的角色岗位" Value="True" />
    <PMConfigInfo Key="RelativeToUserTable" Name="关联业务系统的用户信息表" Value="sys_Admin" />
    <PMConfigInfo Key="RelativeToUserKey" Name="关联业务系统的用户信息表主键" Value="AdminId" />
    <PMConfigInfo Key="RelativeToUserName" Name="关联业务系统的用户信息表的用户名称" Value="AdminName" />
    <PMConfigInfo Key="RelativeToUserStatus" Name="关联业务系统的用户状态字段" Value="Status" />
    <PMConfigInfo Key="RelativeToUserIsEnabled" Name="关联业务系统的用户状态为可用的状态字段值" Value="1" />
  </PMConfigInfos>
</PermissionConfigInfo>