<?xml version="1.0" encoding="UTF-8"?>

<!-- This file contains job definitions in schema version 2.0 format -->

<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    <job>
      <name>MailSendingjob</name>
      <group>Mail</group>
      <description>mail job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.MailSendingjob, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>cronMailSendingjob</name>
        <group>Mail</group>
        <job-name>MailSendingjob</job-name>
        <job-group>Mail</job-group>
        <!--每5min触发一次-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>EveryDaySendingjob</name>
      <group>Mail</group>
      <description>mail job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.EveryDaySendingjob, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>cronEveryDaySendingjob</name>
        <group>Mail</group>
        <job-name>EveryDaySendingjob</job-name>
        <job-group>Mail</job-group>
        <!--每天凌晨00:30(0 30 0 * * ?)   触发一次-->
        <cron-expression>0 30 0 * * ?</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>RejectWISendingTask</name>
      <group>WorkFlow</group>
      <description>reject work items alert job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.RejectWISendingTask, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>templatecode</key>
          <value>WorkFlowRejectAlert</value>
        </entry>
        <entry>
          <key>startrange</key>
          <value>convert(varchar(10),dateadd(dd, -1, getdate()),121)</value>
        </entry>
        <entry>
          <key>endrange</key>
          <value>convert(varchar(10),getdate(),121)</value>
        </entry>
        <entry>
          <key>tourl</key>
          <value>http://ecs.gmmc.com.cn/</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>cronWorkFlowRejectjob</name>
        <group>WorkFlow</group>
        <job-name>RejectWISendingTask</job-name>
        <job-group>WorkFlow</job-group>
        <!--每5分钟触发一次-->
        <cron-expression>0 0/6 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>FinishWISendingTask</name>
      <group>WorkFlow</group>
      <description>finish process items alert job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.FinishWISendingTask, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>templatecode</key>
          <value>WorkFlowFinishAlert</value>
        </entry>
        <entry>
          <key>startrange</key>
          <value>convert(varchar(10),dateadd(dd,-1, getdate()),121)</value>
        </entry>
        <entry>
          <key>endrange</key>
          <value>convert(varchar(10),getdate(),121)</value>
        </entry>
        <entry>
          <key>tourl</key>
          <value>http://ecs.gmmc.com.cn/</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>cronWorkFlowFinishjob</name>
        <group>WorkFlow</group>
        <job-name>FinishWISendingTask</job-name>
        <job-group>WorkFlow</job-group>
        <!--每5m触发一次-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>WorkItemWISendingTask</name>
      <group>WorkFlow</group>
      <description>reject work items alert job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.WorkItemWISendingTask, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>templatecode</key>
          <value>WorkFlowWorkItemAlert</value>
        </entry>
        <entry>
          <key>startrange</key>
          <value>convert(varchar(10),dateadd(dd, -1, getdate()),121)</value>
        </entry>
        <entry>
          <key>endrange</key>
          <value>convert(varchar(10),getdate(),121)</value>
        </entry>
        <entry>
          <key>tourl</key>
          <value>http://ecs.gmmc.com.cn/</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>cronWorkFlowWorkItemjob</name>
        <group>WorkFlow</group>
        <job-name>WorkItemWISendingTask</job-name>
        <job-group>WorkFlow</job-group>
        <!--每5分钟触发一次-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>PartsReceiveWISendingTask</name>
      <group>WorkFlow</group>
      <description>reject work items alert job for Quartz Server</description>
      <job-type>UkeyTech.WebOA.AutomationTask.PartsReceiveWISendingTask, UkeyTech.WebOA.AutomationTask</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>templatecode</key>
          <value>WorkFlowPartsReceiveAlert</value>
        </entry>
        <entry>
          <key>startrange</key>
          <value>convert(varchar(10),dateadd(dd, -1, getdate()),121)</value>
        </entry>
        <entry>
          <key>endrange</key>
          <value>convert(varchar(10),getdate(),121)</value>
        </entry>
        <entry>
          <key>tourl</key>
          <value>http://ecs.gmmc.com.cn/</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <cron>
        <name>PartsReceiveWorkItemjob</name>
        <group>WorkFlow</group>
        <job-name>PartsReceiveWISendingTask</job-name>
        <job-group>WorkFlow</job-group>
        <!--每5分钟触发一次-->
        <cron-expression>0 0/5 * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>