<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute">
  <Assembly Name="Clover.Config" Deploy="All" />
  <Assembly Name="Clover.Web.Core" Deploy="All" />
  <!--
    Scope/Life 声明周期
    PerRequest - The default operation.  A new instance will be created for each request.
    Singleton - A single instance will be shared across all requests
    ThreadLocal - A single instance will be created for each requesting thread.  Caches the instances with ThreadLocalStorage.
    HttpContext - A single instance will be created for each HttpContext.  Caches the instances in the HttpContext.Items collection.
    HttpSession - A single instance will be created for each HttpSession.  Caches the instances in the HttpContext.Session collection.  Use with caution.
    Hybrid - Uses HttpContext storage if it exists, otherwise uses ThreadLocal storage.
  -->
  <PluginFamily
    Type="Clover.Web.Core.IWebContext"
    Assembly="Clover.Web.Core"
    DefaultKey=""
    Scope="HttpSession">
  </PluginFamily>
  <PluginFamily
      Type="Clover.Core.Domain.IAppContext"
      Assembly="Clover.Core"
      DefaultKey=""
      Scope="HttpSession">
  </PluginFamily>
  <DefaultInstance
       PluginType="Clover.Config.Sys.SysManager,Clover.Config"
       PluggedType="Clover.Config.Sys.SysManager,Clover.Config"
       Scope="HttpContext"
       configfilepath = "~/config/Connections.config"
       />
  
  <DefaultInstance
      PluginType="Clover.Config.FileUpload.FileUploadManager,Clover.Config"
      PluggedType="Clover.Config.FileUpload.FileUploadManager,Clover.Config"
      Scope="HttpContext"
      configfilepath = "~/config\FileUpload.config"
       />

  <DefaultInstance
      PluginType="Clover.Config.WebSiteSetting.WebSiteManager,Clover.Config"
      PluggedType="Clover.Config.WebSiteSetting.WebSiteManager,Clover.Config"
      Scope="HttpContext"
      configfilepath = "~/config/Website.config"
       />

  <DefaultInstance
     PluginType="Clover.Config.CPM.PermissionManager,UkeyTech.OA.FrameWork"
     PluggedType="Clover.Config.CPM.PermissionManager,UkeyTech.OA.FrameWork"
     Scope="HttpContext"
     configfilepath = "~/config/Permission.config"
       />
  <DefaultInstance
    PluginType="Clover.Schedules.QuartzJobs,Clover.Schedules"
    PluggedType="Clover.Schedules.QuartzJobs,Clover.Schedules"
    Scope="Singleton"
    jobsconfigpath = "~/config/QuartzJobs.config"
    AutoReload ="true"
       />
  <DefaultInstance
    PluginType="Clover.Core.Logging.ILogger,Clover.Core"
    PluggedType="Clover.Core.Logging.NLogImpl,Clover.Core"
    Scope="Singleton"
    loggerName ="*"
    configfilepath = "~/config/NLog.config"
    ShowSystemEnvironment ="false"
    ShowNetworkEnvironment ="false"
    ShowLoadedAssemblies ="false"
    IsLoggingEnabled ="true"
    />
  <DefaultInstance
      PluginType="Clover.Permission.BLL.ModuleBLL,UkeyTech.OA.FrameWork"
      PluggedType="Clover.Permission.BLL.ModuleBLL,UkeyTech.OA.FrameWork"
      Scope="Singleton"
    />
  <DefaultInstance
    PluginType="Clover.Permission.BLL.RoleBLL,UkeyTech.OA.FrameWork"
    PluggedType="Clover.Permission.BLL.RoleBLL,UkeyTech.OA.FrameWork"
    Scope="Singleton"
    />
  <DefaultInstance
    PluginType="Clover.Permission.BLL.GroupBLL,UkeyTech.OA.FrameWork"
    PluggedType="Clover.Permission.BLL.GroupBLL,UkeyTech.OA.FrameWork"
    Scope="Singleton"
    />
  <DefaultInstance
  PluginType="Clover.Permission.BLL.PositionBLL,UkeyTech.OA.FrameWork"
  PluggedType="Clover.Permission.BLL.PositionBLL,UkeyTech.OA.FrameWork"
  Scope="Singleton"
    />  
  <DefaultInstance
   PluginType="Clover.Core.Caching.ICacheBacker,Clover.Core"
   PluggedType="Clover.Core.Caching.SimpleCacheBacker,Clover.Core"
   Scope="Singleton"
   MaxPoolSize ="2000"
   />
</StructureMap>
