<?xml version="1.0" encoding="utf-8"?>
<WebSiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BadWords />
  <TimeConsuming>5</TimeConsuming>
  <WebAppName>通用延保管理系统</WebAppName>
  <Company></Company>
  <Supplier></Supplier>
  <Weburl>http://ecs.gmmc.com.cn/</Weburl>
  <Licensed>0</Licensed>
  <AdminEmail />
  <ServicesEmail />
  <PositionEmail />
  <Icp />
  <Closed>0</Closed>
  <Closedreason>抱歉!网站暂时关闭,稍候才能访问.</Closedreason>
  <Linktext>&lt;a href="http://www.XXXX.cn" title="" target="_blank"&gt;binfensoft.cn&lt;/a&gt;</Linktext>
  <Passwordkey>FL42D4N2T8</Passwordkey>
  <CookieDomain />
  <Ipdenyaccess />
  <IpdenyaccessType>1</IpdenyaccessType>
  <IpdenyaccessTip>您被禁止访问本站1.1111</IpdenyaccessTip>
  <Adminipaccess />
  <AdminipaccessTip>您没有权限进入后台管理</AdminipaccessTip>
  <Resipaccess />
  <ResipaccessTip>您没有权限访问该资源11</ResipaccessTip>
  <Visitbanperiods />
  <VisitbanperiodsTip>工作时间不允许访问本站.</VisitbanperiodsTip>
  <Templateid>1</Templateid>
  <CacheTime>20</CacheTime>
  <CachePage>
    default.aspx
    list-(\d+).aspx
    list-(\d+)-(\d+).aspx
    zhuanti.aspx
    zhuantiview-(\d+).aspx
    allfilm.aspx
  </CachePage>
  <Seotitle></Seotitle>
  <Seokeywords></Seokeywords>
  <Seodescription></Seodescription>
  <Seohead />
  <Nocacheheaders>0</Nocacheheaders>
  <Copyright>欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。系统举报信箱： support@xxx.cn</Copyright>
  <Notice>&lt;br /&gt;&amp;nbsp;&amp;nbsp;庆祝本站改版成功!</Notice>
  <Aspxrewrite>1</Aspxrewrite>
  <AllowUserRegister>1</AllowUserRegister>
  <LoginToLook>0</LoginToLook>
  <ToFilmCoin>10</ToFilmCoin>
  <ToDays>1</ToDays>
  <NewUserStatus>0</NewUserStatus>
  <DownloadFilmCoinRate>2</DownloadFilmCoinRate>
  <DownloadSpeed>1024</DownloadSpeed>
  <GBNeedAuditing>1</GBNeedAuditing>
  <ReplyFormat />
  <PlNeedAuditing>1</PlNeedAuditing>
  <UseSimpleNotice>1</UseSimpleNotice>
  <WebPlaySpeed>60</WebPlaySpeed>
  <WebDownloadSpeed>60</WebDownloadSpeed>
  <AdminPageSize>50</AdminPageSize>
  <SystemNo>SGXT</SystemNo>
  <!--是否启用密码策略-->
  <UsePassWordStrategy>false</UsePassWordStrategy>
  <!--密码修改周期-->
  <ChangePasswordPeriod>180</ChangePasswordPeriod>
  <!--密码策略验证失败提示-->
  <PasswordNotMatchMessage>密码长度需要6-18位，至少包含3种类型：大写字母、小写字母、数字</PasswordNotMatchMessage>
  <!--密码策略验证表达式-->
  <PasswordRegex>^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,18}$</PasswordRegex>
</WebSiteConfig>