      #map {
            width: 100%;
            height: 570px;
            border: 1px solid #0094ff;
        }

        #menu {
            width: 100%;
            height: 50px;
            padding: 5px 10px;
            font-size: 14px;
            font-family: "微软雅黑";
            left: 10px;
            margin: 10px;
            float: left;
        }

            #menu label {
                float: left;
                width: auto !important;
            }

        #type {
            width: 120px;
        }

        /*.btn {
            margin-right: 15px;
        }

        .oplist {
            margin: 10px;
        }

            .oplist button {
                margin: 0;
            }*/